.check-upload {
  height: 10rem;
  width: 10rem;
  line-height: 10rem;
  text-align: center;
  color: #0DA547;
  border: 0.5rem solid #0DA547;
  border-radius: 50%;
  display: inline-block;
  font-size: 5rem;
  -webkit-text-stroke: 0.5rem #fff;
  margin-bottom: 2rem;
}

.uploadCtn {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.ucDcLabel {
  color: #82828C;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.ucDcTitleText {
  display: block;
  resize: none;
  width: calc(100% - 1.5rem);
  border: 1px solid #d9d9dc;
  color: #4b4b55;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.ucDcTitleTextError {
  display: block;
  resize: none;
  width: calc(100% - 1.5rem);
  border: 1px solid #cd040b;
  color: #4b4b55;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.ucDcTitleText:hover, .ucDcTitleText:focus, .ucDcTitleTextError:hover, .ucDcTitleTextError:focus {
  outline: none;
}

.ucSelectedImgOuterCtn, .otherImgOuterCtn {
  display: inline-block;
  vertical-align: top;
}

.otherImgOuterCtn {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 50%;
}

.ucSiocPhotoLabel {
  color: #82828C;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.ucSelectedImgInnerCtn {
  width: 16rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
  border: 0.1rem solid #cd040b;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ucSelectedImg {
  max-width:100%;
  max-height: 100%;
}

.otherImgInnerCtn {
  display: inline-block;
  height: 4rem;
  width: 4.8rem;
  background-size: cover;
  margin: 0 1rem 0.5rem 0;
  background-position: center;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  cursor:pointer;
}

.otherImgInnerCtn:hover {
  border: 1px solid #cd040b;
}

.otherImg{
  max-width:100%;
  max-height:100%;
}

.footer {
  margin: 1.5rem 0 0 0;
  position: relative;
}

.uploadButton {
  background-color: #cd040b;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  position: relative;
  float: right;
  cursor: pointer;
  outline:none;
  border:0;
}

.footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.uploadHeading {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.thanksMsg {
  text-align: center;
  padding: 5rem 10rem;
}

.topbar {
  padding: 0.5rem 0 1.5rem 0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImgCtn {
  height:3.7rem;
  width:3.7rem;
  overflow:hidden;
  border-radius: 50%;
  display:inline-block;
  vertical-align: top;
}

.profileImg {
  height:100%;
  width:100%;
}

.userName {
  font-size: 1.2rem;
  line-height: 3.7rem;
  font-weight: bold;
  display:inline-block;
  vertical-align: top;
  margin-left: 1rem;
  max-width: 22rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logout {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  outline: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}