.check-upload {
  height: 10rem;
  width: 10rem;
  line-height: 10rem;
  text-align: center;
  color: #0DA547;
  border: 0.5rem solid #0DA547;
  border-radius: 50%;
  display: inline-block;
  font-size: 5rem;
  -webkit-text-stroke: 0.5rem #fff;
  margin-bottom: 2rem;
}
.uploadCtn {
  padding: 1.5rem;
}

.ucDcLabel {
  color: #82828C;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.ucDcTitleText {
  display: block;
  resize: none;
  width: calc(100% - 1.5rem);
  border: 1px solid #d9d9dc;
  color: #4b4b55;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.ucDcTitleTextError {
  display: block;
  resize: none;
  width: calc(100% - 1.5rem);
  border: 1px solid #cd040b;
  color: #4b4b55;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.ucDcTitleText:hover, .ucDcTitleText:focus, .ucDcTitleTextError:hover, .ucDcTitleTextError:focus {
  outline: none;
}

.ucSelectedImgOuterCtn, .otherImgOuterCtn {
  display: inline-block;
  vertical-align: top;
}

.otherImgOuterCtn {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 50%;
}

.ucSiocPhotoLabel {
  color: #82828C;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.ucSelectedImgInnerCtn {
  width: 16rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
  border: 0.1rem solid #cd040b;
  margin-bottom: 1rem;
  background-color: #e6e6e6;
}

.otherImg {
  display: inline-block;
  height: 4rem;
  width: 4.8rem;
  background-size: cover;
  margin: 0 1rem 0.5rem 0;
  background-position: center;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.otherImg:hover {
  border: 1px solid #cd040b;
}

.footer {
  margin: 1.5rem 0 0 0;
  position: relative;
}

.uploadButton {
  background-color: #cd040b;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  position: relative;
  float: right;
  cursor: pointer;
  outline:none;
  border:0;
}

.footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.uploadHeading {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.thanksMsg {
  text-align: center;
  padding: 5rem 10rem;
}